Importing Libirarys and laod csv file

In [34]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
convert = LabelEncoder()
df = pd.read_csv("weatherHistory.csv")
df.head(2)

,Formatted Date,Summary,Precip Type,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars),Daily Summary
0,2006-04-01 00:00:00.000 +0200,Partly Cloudy,rain,9.472222,7.388889,0.89,14.1197,251.0,15.8263,0.0,1015.13,Partly cloudy throughout the day.
1,2006-04-01 01:00:00.000 +0200,Partly Cloudy,rain,9.355556,7.227778,0.86,14.2646,259.0,15.8263,0.0,1015.63,Partly cloudy throughout the day.

Geting Some info

In [35]:
df.describe()

,Temperature (C),Apparent Temperature (C),Humidity,Wind Speed (km/h),Wind Bearing (degrees),Visibility (km),Loud Cover,Pressure (millibars)
count,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.000000,96453.0,96453.000000
mean,11.932678,10.855029,0.734899,10.810640,187.509232,10.347325,0.0,1003.235956
std,9.551546,10.696847,0.195473,6.913571,107.383428,4.192123,0.0,116.969906
min,-21.822222,-27.716667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
25%,4.688889,2.311111,0.600000,5.828200,116.000000,8.339800,0.0,1011.900000
50%,12.000000,12.000000,0.780000,9.965900,180.000000,10.046400,0.0,1016.450000
75%,18.838889,18.838889,0.890000,14.135800,290.000000,14.812000,0.0,1021.090000
max,39.905556,39.344444,1.000000,63.852600,359.000000,16.100000,0.0,1046.380000

In [36]:
df.isna().sum()

Formatted Date                0
Summary                       0
Precip Type                 517
Temperature (C)               0
Apparent Temperature (C)      0
Humidity                      0
Wind Speed (km/h)             0
Wind Bearing (degrees)        0
Visibility (km)               0
Loud Cover                    0
Pressure (millibars)          0
Daily Summary                 0
dtype: int64

In [37]:
# percentage of null values
sum_of_null_values = df.isna().sum().sum()
percentage =  sum_of_null_values*100 / len(df) 
percentage

0.5360123583506993

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96453 entries, 0 to 96452
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Formatted Date            96453 non-null  object
 1   Summary                   96453 non-null  object
 2   Precip Type               95936 non-null  object
 3   Temperature (C)           96453 non-null  float64
 4   Apparent Temperature (C)  96453 non-null  float64
 5   Humidity                  96453 non-null  float64
 6   Wind Speed (km/h)         96453 non-null  float64
 7   Wind Bearing (degrees)    96453 non-null  float64
 8   Visibility (km)           96453 non-null  float64
 9   Loud Cover                96453 non-null  float64
 10  Pressure (millibars)      96453 non-null  float64
 11  Daily Summary             96453 non-null  object
dtypes: float64(8), object(4)
memory usage: 8.8+ MB

Drop unwanted columns

In [39]:
df1 = df[["Summary","Temperature (C)","Wind Speed (km/h)","Daily Summary"]]

so now the summary column i will duoble it but with label encoder

In [40]:
df3 = df1.copy()
df3["summary_enc"] = df3["Summary"]

In [41]:
df3["summary_enc"] = convert.fit_transform(df3["summary_enc"])

make a new column based on condision

In [42]:
conditions = [
    (df3['summary_enc'] == 19),
    (df3['summary_enc'] == 17),
    (df3['summary_enc'] == 18),
    (df3['summary_enc'] == 12),
    (df3['summary_enc'] == 3),
    (df3['summary_enc'] == 6),
    (df3['summary_enc'] == 5),
    (df3['summary_enc'] == 4),
    (df3['summary_enc'] == 15),
    (df3['summary_enc'] == 23),
    (df3['summary_enc'] == 25),
    (df3['summary_enc'] == 2),
    (df3['summary_enc'] == 26),
    (df3['summary_enc'] == 0),
    (df3['summary_enc'] == 11),#
    (df3['summary_enc'] == 24),
    (df3['summary_enc'] == 7),
    (df3['summary_enc'] == 9),
    (df3['summary_enc'] == 21),
    (df3['summary_enc'] == 14),
    (df3['summary_enc'] == 16),
    (df3['summary_enc'] == 8),
    (df3['summary_enc'] == 22),
    (df3['summary_enc'] == 10),
    (df3['summary_enc'] == 1),
    (df3['summary_enc'] == 20),

    ]

values = ["yes","yes","no","no","yes",
          "yes","yes","no","no","yes",
          "no","no","no","no","yes",
          "no","no","yes","yes","no",
          "no","no","yes","yes","no",
          "yes"]

In [43]:
df3['Go ?'] = np.select(conditions, values)

In [44]:
df4 = df3.copy()
df4.head(2)

,Summary,Temperature (C),Wind Speed (km/h),Daily Summary,summary_enc,Go ?
0,Partly Cloudy,9.472222,14.1197,Partly cloudy throughout the day.,19,yes
1,Partly Cloudy,9.355556,14.2646,Partly cloudy throughout the day.,19,yes

Time to predict

In [47]:
X = df4[["summary_enc"]]
y = df4[["Go ?"]]

In [48]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(random_state=0).fit(X, y)

C:\Users\TAI\AppData\Roaming\Python\Python311\site-packages\sklearn\utils\validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [49]:
clf.predict([[19]])

C:\Users\TAI\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array(['yes'], dtype=object)