In [228]:
# importing libiraries and datafram
import pandas as pd
import numpy as np
df = pd.read_csv("realme_uncleaned_MobilesData.csv")

In [229]:
df.head(3)

,name,ratings,price,imgURL,storage_ram,camera,oS_Processor,display,network,battery
0,"realme C33 2023 (Sandy Gold, 128 GB)",4.4,"₹10,499",https://rukminim2.flixcart.com/image/312/312/x...,Internal Storage128 GBRAM4 GBExpandable Storag...,Operating SystemAndroid 12Processor TypeUnisoc...,Primary Camera AvailableYesPrimary Camera50MP ...,Display Size16.51 cm (6.5 inch)Resolution1600 ...,"Network Type4G VOLTE, 4G, 3G, 2GSupported Netw...",Battery Capacity5000 mAh
1,"realme C33 2023 (Aqua Blue, 128 GB)",4.4,"₹10,499",https://rukminim2.flixcart.com/image/312/312/x...,Internal Storage128 GBRAM4 GBExpandable Storag...,Operating SystemAndroid 12Processor TypeUnisoc...,Primary Camera AvailableYesPrimary Camera50MP ...,Display Size16.51 cm (6.5 inch)Resolution1600 ...,"Network Type4G VOLTE, 4G, 3G, 2GSupported Netw...",Battery Capacity5000 mAh
2,"realme C33 2023 (Night Sea, 128 GB)",4.4,"₹10,499",https://rukminim2.flixcart.com/image/312/312/x...,Internal Storage128 GBRAM4 GBExpandable Storag...,Operating SystemAndroid 12Processor TypeUnisoc...,Primary Camera AvailableYesPrimary Camera50MP ...,Display Size16.51 cm (6.5 inch)Resolution1600 ...,"Network Type4G VOLTE, 4G, 3G, 2GSupported Netw...",Battery Capacity5000 mAh

In [230]:
# we want to make a preidct by using rates , storage , ram and battery
# i will use skelarn.Lienear model for this

In [231]:
# lets see if there is a NA or duplicates

In [232]:
df.duplicated().sum()

15

In [233]:
# so there is 15 duplicated values

In [234]:
df.isna().sum()

name             0
ratings         35
price            0
imgURL           0
storage_ram      0
camera           0
oS_Processor     0
display          0
network          0
battery          0
dtype: int64

In [235]:
# and there is 35 Nan values
# so i am gonna remove them

In [236]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [237]:
df.duplicated().sum() 
# df.isna().sum()

0

In [238]:
# so there isn't any duplicated values or Nan values

In [239]:
#Lets drop some useless columns
df2 = df.drop(["name","imgURL","oS_Processor","display","network","camera"],axis=1)

In [240]:
df2.head(2)

,ratings,price,storage_ram,battery
0,4.4,"₹10,499",Internal Storage128 GBRAM4 GBExpandable Storag...,Battery Capacity5000 mAh
1,4.4,"₹10,499",Internal Storage128 GBRAM4 GBExpandable Storag...,Battery Capacity5000 mAh

In [241]:
# we want to remove the "₹" from the price and the ","

df2['price'] = df2['price'].str.replace('₹', '').astype(str)
df2['price'] = df2['price'].str.replace(',', '').astype(int)

In [242]:
df2.head(2)

,ratings,price,storage_ram,battery
0,4.4,10499,Internal Storage128 GBRAM4 GBExpandable Storag...,Battery Capacity5000 mAh
1,4.4,10499,Internal Storage128 GBRAM4 GBExpandable Storag...,Battery Capacity5000 mAh

In [243]:
# now we want to split the storage and ram to make storage is column and ram is another column

In [244]:
def extract_storage(row):
    storage = row.split()[1]
    return storage

def extract_ram(row):
    ram = row.split()[2]
    return ram

df2['storage'] = df2['storage_ram'].apply(func=extract_storage)
df2['ram'] = df2['storage_ram'].apply(func=extract_ram)

In [245]:
df2.head(2)

,ratings,price,storage_ram,battery,storage,ram
0,4.4,10499,Internal Storage128 GBRAM4 GBExpandable Storag...,Battery Capacity5000 mAh,Storage128,GBRAM4
1,4.4,10499,Internal Storage128 GBRAM4 GBExpandable Storag...,Battery Capacity5000 mAh,Storage128,GBRAM4

In [246]:
df2 = df2.drop(["storage_ram"],axis = 1)

In [247]:
df2['storage'] = df2['storage'].str.replace('Storage', '').astype(str)
df2['storage'] = df2['storage'].str.replace('Storage', '').astype(int)

In [248]:
df2['ram'] = df2['ram'].str.replace('GBRAM', '').astype(str)
df2['ram'] = df2['ram'].str.replace('GBRAM', '').astype(int)

In [249]:
df2.head(2)

   ratings  price                   battery  storage  ram
0      4.4  10499  Battery Capacity5000 mAh      128    4
1      4.4  10499  Battery Capacity5000 mAh      128    4

In [250]:
# now we have to remove the text in battery

In [251]:
df2['battery'] = df2['battery'].str.extract('(\d+)').astype(int)

In [252]:
df2.head(2)

   ratings  price  battery  storage  ram
0      4.4  10499     5000      128    4
1      4.4  10499     5000      128    4

In [253]:
df2.duplicated().sum()

67

In [254]:
df2.drop_duplicates()

     ratings  price  battery  storage  ram
0        4.4  10499     5000      128    4
3        4.2   5999     5000       32    2
4        4.1   6499     5000       32    3
5        4.3  11999     5000       64    6
6        4.4  13999     5000      128    8
..       ...    ...      ...      ...  ...
255      4.4  11499     5000       64    6
256      4.4  38999     5000      256   12
257      4.3  38999     5000      256   12
258      4.6  34999     5000      128    8
259      4.4   7499     5000       32    3

[147 rows x 5 columns]

In [255]:
df2.isna().sum()

ratings    0
price      0
battery    0
storage    0
ram        0
dtype: int64

In [256]:
# now our data fram is ready to make prediction on it
from sklearn import linear_model
reg = linear_model.LinearRegression()
reg.fit(df2[["ratings","battery","storage","ram"]],df2["price"])

LinearRegression()

In [258]:
#i predicted a phone price with rate 4,4 and battery 5000 and 128 storage and 4 rams
reg.predict([[4.4,5000,128,4]]).astype(int)

C:\Users\TAI\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([13382])